<h4><%= genre.name %>:</h4>
<div class="genre_stories_list">
  <ul>
    <% genre.stories.each do |story| %>
    <li><a href="/story/<%= story.id %>"><%= story.title.capitalize %></a>  |  <% if story.fiction == true %><%= 'Fiction' %><% else %><%= 'Non-Fiction' %><% end %>  |  Author: <%= story.author.name %>  |  Published on: <%= story.date_published %></li>
    <% end %>
  </ul>
</div>
