<h4>All Stories:</h4>
<div class="stories_list">
  <ul>
    <% stories.each do |story| %>
    <li>
      <a href="/story/<%= story.id %>"><%= story.title.capitalize %></a>  |  <% if story.fiction == true %><%= 'Fiction' %><% else %><%= 'Non-Fiction' %><% end %>  |  Author: <%= story.author.name %>  |  Published on: <%= story.date_published %>
    </li>
    <% end %>
  </ul>
</div>
